<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<p>
  <a href="/products">Customer list</a>
</p>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-product}" th:object="${products}" method="post">
  <table>
    <tr>
      <td>Product name:</td>
      <td><input type="text" th:field="*{productName}"/></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="text" th:field="*{price}"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create customer"></td>
    </tr>
  </table>
</form>
</body>
</html>
